<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['auth']" routerLinkActive="active" *ngIf="!isAuthenticated">Authenticate</a></li>
                <li><a [routerLink]="['recipes']" routerLinkActive="active" *ngIf="isAuthenticated">Recipes</a></li>
                <li><a [routerLink]="['shopping-list']" routerLinkActive="active">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a (click)="onLogout()">Logout</a>
                </li>
                <li appDropdown class="dropdown">
                    <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="storeRecipes()">Save Data</a></li>
                        <li><a (click)="fetchRecipes()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>