<ng-template [appPlaceholer]></ng-template>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
                  {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button> |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
                  Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </div>
        </form>
        <!-- <app-alert [message]="error" (close)="onAlertClose()" *ngIf="error"></app-alert> -->
    </div>
</div>