@keyframes ldio-cegoeneh1a {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-cegoeneh1a div {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 4px solid #e15b64;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-cegoeneh1a div {
    animation: ldio-cegoeneh1a 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-2eieq4g5fq8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-cegoeneh1a {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-cegoeneh1a div {
    box-sizing: content-box;
}