<div class="backdrop"></div>
<div class="alert-box">
    <p>{{ message }}</p>
    <div class="alert-box-actions">
        <div class="btn btn-primary" (click)="onClose()">Close</div>
    </div>
</div>