<div class="row">
    <div class="col-xs-12">
        <button [routerLink]="['new']" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-item>
    </div>
</div>